<h3>Formulario</h3>
<p>
    <input type="button" value="add" (click)="add()"/>
    <input type="number" value="1" #txtId/>
    <input type="button" value="edit" (click)="edit(txtId.valueAsNumber)"/>
</p>

<form #myForm="ngForm">
    <div>
        <label for="id">ID: </label>
        <input type="number" id="id" name="id" [(ngModel)]="element.id" #id="ngModel" required/>
        <output class="error" [hidden]="!id.hasError('required') || myForm.pristine">Es obligatorio</output>
    </div>
    <div>
        <label for="nombre">Name: </label>
        <input type="text" id="nombre" name="nombre" [(ngModel)]="element.nombre" #nombre="ngModel" required minlength="2" maxlength="10"/>
        <output class="error" [hidden]="!nombre.hasError('required')">Es obligatorio</output>
        <output class="error" [hidden]="!nombre.hasError('minlength') && !nombre.hasError('maxlength')">Debe tener entre 2 y 10 letras</output>
    </div>
    <div>
        <label for="apellidos">Last Name: </label>
        <input type="text" id="apellidos" name="apellidos" [(ngModel)]="element.apellidos" #apellidos="ngModel" minlength="2" maxlength="10" uppercase/>
        <output class="error" [hidden]="apellidos.valid">{{apellidos.errors | errormsg}}</output>

    </div>
    <div>
        <label for="correo">Email: </label>
        <input type="email" id="correo" name="correo" [(ngModel)]="element.correo" #correo="ngModel"/>
        <output class="error" [hidden]="correo.valid">{{correo.errors | errormsg}}</output>
    </div>
    <div>
        <label for="entryDate">Entry Date: </label>
        <input type="date" id="entryDate" name="entryDate" [(ngModel)]="element.entryDate" #entryDate="ngModel"/>
        <output class="error" [hidden]="entryDate.valid">{{entryDate.errors | errormsg}}</output>
    </div>
    <div>
        <label for="edad">Age: </label>
        <input type="number" id="edad" name="edad" [(ngModel)]="element.edad" #edad="ngModel" min="16" max="67" step="1"/>
        <output class="error" [hidden]="edad.valid">{{edad.errors | errormsg}}</output>
    </div>
    <div>
        <label for="nif">NIF: </label>
        <input type="text" id="nif" name="nif" [(ngModel)]="element.nif" #nif="ngModel" pattern="^\d{1,8}[a-zA-Z]$" nifnie/>
        <output class="error" [hidden]="nif.valid">{{nif.errors | errormsg:'Debe tener de 1 a 8 dígitos y una letra al final'}}</output>

    </div>
    <div>
        <label for="active">Active: </label>
        <input type="checkbox" id="active" name="active" [(ngModel)]="element.active" #active="ngModel" />
    </div>

    <div> 
        <input type="button" value="enviar" (click)="send()" [disabled]="myForm.invalid"/>
        <input type="button" value="cancelar" (click)="cancel()"/>
    </div>

</form> 