<h1>Film</h1>
@if(VM.Element) {
  <form #miForm="ngForm" class="row gy-2 gx-2 align-items-start">
    
    <!-- Título -->
    <div class="form-floating col-md-4">
      <input class="form-control" [class.is-invalid]="title.invalid" type="text" name="title" id="title"
        [(ngModel)]="VM.Element.title" #title="ngModel" required minlength="2" maxlength="100" placeholder=" ">
      <label for="title">Título:</label>
      <output class="invalid-feedback" [hidden]="title.valid">{{ title.errors | errormsg }}</output>
    </div>
    
    <!-- Descripción -->
    <div class="form-floating col-md-6">
      <textarea class="form-control" [class.is-invalid]="description.invalid" name="description" id="description"
        [(ngModel)]="VM.Element.description" #description="ngModel" required minlength="10" maxlength="500" placeholder=" "></textarea>
      <label for="description">Description:</label>
      <output class="invalid-feedback" [hidden]="description.valid">{{ description.errors | errormsg }}</output>
    </div>
    
    <!-- Duración (Length) -->
    <div class="form-floating col-md-3">
      <input class="form-control" [class.is-invalid]="length.invalid" type="number" name="length" id="length"
        [(ngModel)]="VM.Element.length" #length="ngModel" required min="1" placeholder=" ">
      <label for="length">Duration (minutes):</label>
      <output class="invalid-feedback" [hidden]="length.valid">{{ length.errors | errormsg }}</output>
    </div>
    
    <!-- Rating -->
    <div class="form-floating col-md-3">
      <select class="form-control form-select" name="rating" id="rating" [(ngModel)]="VM.Element.rating" #rating="ngModel">
        <option value="G">G</option>
        <option value="PG">PG</option>
        <option value="PG-13">PG-13</option>
        <option value="R">R</option>
        <option value="NC-17">NC-17</option>
      </select>
      <label for="rating">Classification:</label>
    </div>
    
    <!-- Año de lanzamiento -->
    <div class="form-floating col-md-3">
      <input class="form-control" [class.is-invalid]="releaseYear.invalid" type="number" name="releaseYear" id="releaseYear"
        [(ngModel)]="VM.Element.releaseYear" #releaseYear="ngModel" required min="1900" max="2099" placeholder=" ">
      <label for="releaseYear">Year:</label>
      <output class="invalid-feedback" [hidden]="releaseYear.valid">{{ releaseYear.errors | errormsg }}</output>
    </div>

    <!-- Duración del alquiler -->
    <div class="form-floating col-md-3">
      <input class="form-control" [class.is-invalid]="rentalDuration.invalid" type="text" name="rentalDuration" id="rentalDuration"
        [(ngModel)]="VM.Element.rentalDuration" #rentalDuration="ngModel" required maxlength="100" placeholder=" ">
      <label for="rentalDuration">Rental duration:</label>
      <output class="invalid-feedback" [hidden]="rentalDuration.valid">{{ rentalDuration.errors | errormsg }}</output>
    </div>
    
    <!-- Tasa de alquiler -->
    <div class="form-floating col-md-3">
      <input class="form-control" [class.is-invalid]="rentalRate.invalid" type="number" name="rentalRate" id="rentalRate"
        [(ngModel)]="VM.Element.rentalRate" #rentalRate="ngModel" required min="0" step="0.01" placeholder=" ">
      <label for="rentalRate">Rental price:</label>
      <output class="invalid-feedback" [hidden]="rentalRate.valid">{{ rentalRate.errors | errormsg }}</output>
    </div>
    
    <!-- Costo de reemplazo -->
    <div class="form-floating col-md-3">
      <input class="form-control" [class.is-invalid]="replacementCost.invalid" type="number" name="replacementCost" id="replacementCost"
        [(ngModel)]="VM.Element.replacementCost" #replacementCost="ngModel" required min="0" step="0.01" placeholder=" ">
      <label for="replacementCost">Replace cost:</label>
      <output class="invalid-feedback" [hidden]="replacementCost.valid">{{ replacementCost.errors | errormsg }}</output>
    </div>

        <!-- Actors -->
        <div class="form-group">
          <label for="actorId">Select Actors</label>
          <select class="form-control" id="actorId" [(ngModel)]="selectedActorIds" name="actorId" multiple>
            @for(actor of actors; track actor.actorId) {
              <option [value]="actor.actorId" [selected]="selectedActorIds.includes(actor.actorId)">{{ actor.firstName }} {{ actor.lastName }}</option>
            }
          </select>
        </div>
    
    <!-- Language -->
    <div class="form-group">
      <label for="languageId">Language:</label>
        <select class="form-control" [class.is-invalid]="languageId.invalid" name="languageId" id="languageId"
          [(ngModel)]="selectedLanguageId" #languageId="ngModel" required placeholder=" ">
          @for(language of languages; track language.id) {
            <option [value]="language.id">{{ language.idioma }}</option>
          }
        </select>
    </div>

    <!-- Categories -->
    <div class="form-group">
      <label for="categorySelect">Select Categories</label>
      <select class="form-control" id="categorySelect" [(ngModel)]="selectedCategoryIds" name="categoryId" multiple>
        @for(category of categories; track category.id) {
          <option [value]="category.id">{{ category.category }}</option>
        }
      </select>
    </div>

    <!-- Botones de Enviar y Volver -->
    <div class="mt-2">
      @if(VM.Mode === 'edit') {
        <input type="button" class="btn btn-success" value="Send" (click)="saveFilm()" [disabled]="miForm.invalid">
      }
      @if(VM.Mode==='add') {
        <input type="button" class="btn btn-success" value="Send" (click)="createFilm()" [disabled]="miForm.invalid">
      }
      <input type="button" class="btn btn-info" value="Cancel" (click)="VM.cancel()">
    </div>
  </form>
} @else {
  <h2>Sin datos</h2>
}
