<h1><i class="fa-solid fa-film"></i>Film</h1>
@if(VM.Element) {
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="well well-sm">
        <div class="row">
          <div class="col-sm-6 col-md-8">
            <h4>{{ VM.Element.title }}</h4>
            <p><strong>Description:</strong> {{ VM.Element.description }}</p>
            <p><strong>Year:</strong> {{ VM.Element.releaseYear }}</p>
            <p><strong>Duration:</strong> {{ VM.Element.length }} minutos</p>
            <p><strong>Classification:</strong> {{ VM.Element.rating }}</p>
            <p><strong>Rental price:</strong> {{ VM.Element.rentalRate  }}</p>
            <p><strong>Replace cost:</strong> {{ VM.Element.replacementCost  }}</p>
            
            <!-- Lista de actores con @for -->
            <p><strong>Actors:</strong></p>
            @for (actor of VM.Element.actors; track actor.index) {
              <ul>
                <li>{{ actor }}</li>
              </ul>
            }

            <!-- Lista de categorías con @for -->
            <p><strong>Categories:</strong></p>
            @for (category of VM.Element.categories; track category.index) {
              <ul>
                <li>{{ category }}</li>
              </ul>
            }

            <div class="btn-group">
              <input class="btn btn-secondary" type="button" value="Volver" (click)="VM.cancel()">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
} @else {
  <h2>No Data</h2>
}
