<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">
          <li class="nav-item">
            <a
              class="nav-link text-white"
              routerLinkActive="active"
              routerLink="/"
              ><i class="fa-solid fa-house"></i> Home</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-white"
              routerLinkActive="active"
              routerLink="/films"
              ><i class="fa-solid fa-film"></i> Films</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-white"
              routerLinkActive="active"
              routerLink="/actors"
              ><i class="fa-solid fa-users"></i> Actors</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-white"
              routerLinkActive="active"
              routerLink="/categories"
              ><i class="fa-solid fa-folder-closed"></i> Categories</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-white"
              routerLinkActive="active"
              routerLink="/languages"
              ><i class="fa-solid fa-earth-europe"></i> Languages</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
