.alert {
    margin-right: 15px;
}

.error {
    color: red;
    font-weight:900;
    font-size: 1.2em;
}

.urgent {
    font-style: italic;
}

.semivisible {
    color: hsl(0, 0%, 50%, 0.2);
    font-weight:900;
}