:host {
    display: flex;
    flex-direction: column;
    height: 100vh; 
  }
  
  app-header {
    height: 5vh;
  }
  
  main {
    height: 90vh;
    overflow-y: auto; 
  }
  
  app-footer {
    height: 5vh;
  }
  